[submodule "data/processed/met_all"]
	path = data/processed/met_all
	url = git@github.com:alexsaadfalcon/vase_imgs.git
[submodule "models/pytorch_biggan"]
	path = models/pytorch_biggan
	url = git@github.com:alexsaadfalcon/biggan_vase.git
